
<div class="container this">
      <div class="row">
        <div class="col-sm-6">
          <div><h1>{{artistInfo.artist_name}}</h1></div>
          <div rate-yo id='stars' rating="myRating" class="col-sm-4"></div>
          <div id='reviews'>23 Reviews</div>
          <div><h2>{{artistInfo.artist_genre}}</h2></div>
          <div><p>{{artistInfo.artist_bio}}</p></div>
          <div><button type="button" class="btn btn-primary" ng-click="somefunc()">Submit a Review</button></div>
        </div>
        <div class="col-sm-6 reviews">
          <div><img class="artistpageimage" src={{artistInfo.artist_imageurl}}></div>
        </div>
      </div>
      
</div>

<div><h1 class='reviewheader'>Reviews</h1><hr style="width:95%;height:1px;border:none;color:#333;background-color:#333;"/></div>

<div ng-repeat="review in reviews"> 
  <div>{{review.user_name}}</div>
  <div>{{review.venue}}</div>
  <div>{{review.review_detail}}</div>
  <div>{{review.number_stars}}</div>
</div>

