
<div class="container this">
      <div class="row artistinfo">
        <div class="col-sm-6">
          <div><h1>{{artistInfo.artist_name}}</h1></div>
          <div class="mainstar" ratemain></div>
          <div id='reviewsnum' >{{avgData.reviews}} Reviews</div>
          <div class='genre'><h2>{{artistInfo.artist_genre}}</h2></div>
          <div><p>{{artistInfo.artist_bio}}</p></div>
          <div><button type="button" class="btn btn-primary" ng-click="reviewArtist()">Submit a Review for {{artistInfo.artist_name}} </button></div>
        </div>
        <div class="col-sm-6 reviews">
          <div><img class="artistpageimage" src={{artistInfo.artist_imageurl}}></div>
        </div>
      </div>
</div>



<div><h1 class='reviewheader'>Reviews</h1><hr style="width:95%;height:1px;border:none;color:#333;background-color:#333;"/></div>

<div class='reviews' ng-repeat="review in reviews"> 
  <img class='reviewicon' src="https://openclipart.org/download/202776/pawn.svg" >

  <div class="mainreviewdata">
    <h3>{{review.user_name}}</h3>
    <h4 class="venue">{{review.venue}} | {{review.concert_date}}</h4>
    <ratereview class="reviewstars"></ratereview>
  </div>  

  <div>{{review.review_details}}</div>
  <hr style="width:100%;height:1px;border:none;color:#333;background-color:#333;"/>

</div>
<!-- <div class="mainstar"><ratestar ng-model="ratingInfo">shit</ratestar>shit</div>
<div class='reviews' ng-repeat="review in reviews"> 
  <ratestar class="reviewstars"></ratestar>
</div> -->




