<div class='front-page-img'>
  <img class="img-responsive" src='img/frontpage.jpg' style='box-shadow: rgba(0,0,0,.2) 3px 5px 5px;'>
  <div class='front-page-container-search'>
    <h3>Audio Report is a place where you can come to write and read concert reviews!</h3>
  </div>
</div>

<div class='parent'>
  <div class="col-sm-6 desktop">
    <h1>Recent Reviews</h1>
    <hr>
    <div class="col-sm-6 recent-reviews col-1">
      <ul class='recent-artist-ul' style="display: inline-block;">
        <li class='recent-artist' ng-click=takeToArtistPage(artist.artist_name) ng-repeat="artist in recentArtist" ng-if='$even'>
          <img class='test' src='{{artist.artist_imageurl}}'>
          <div class='recent-artist-front-info'>
            <strong>{{artist.artist_name}}</strong> | {{artist.concert_date}}
            <p>{{artist.venue}}</p>
            <ratehome ></ratehome>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 recent-reviews col-2">
      <ul class='recent-artist-ul' style="display: inline-block;">
        <li class='recent-artist' ng-click=takeToArtistPage(artist.artist_name) ng-repeat="artist in recentArtist" ng-if='$odd'>
          <img src='{{artist.artist_imageurl}}'>
          <div class='recent-artist-front-info'>
            <strong>{{artist.artist_name}}</strong> | {{artist.concert_date}}
            <p>{{artist.venue}}</p>
            <ratehome></ratehome>
          </div>
        </li>
      </ul>
    </div>
  </div>

    <div class='mobile'>
      <h1>Recent Reviews</h1>
      <hr>
      <ul>
        <li ng-repeat='artist in recentArtist'>
            <div class='img' style="background-image:url('{{artist.artist_imageurl}}');"></div>
            <div class='concert-info'>
              <p><strong>{{artist.artist_name}}</strong></p>
              <p>{{artist.venue}}</p>
              <p>{{artist.concert_date}}</p>
              <ratehome></ratehome>
            </div>
          <hr class='mobile-hr'>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 upcoming-concerts">
      <h1>Upcoming Concerts</h1>
      <hr>
      <hr class='upcoming'>
      <googlemap></googlemap>
      <ul class="list-group upcoming-concert-list">
        <li ng-repeat="upcoming_concert in googleData.closeEvents" class="list-group-item upcoming-concert {{upcoming_concert.id}}">
          <div class="upcoming-concert-info">
            <h4><strong>{{upcoming_concert.eventHeadliner}}</strong></h4> 
            <p>{{upcoming_concert.venue}}</p> 
            <p>{{upcoming_concert.city}}</p> 
            <p>{{upcoming_concert.date}}</p>
          </div>
          <button class="btn pull-right" ng-click='showLineup=!showLineup'>See line up</button>
          <ul ng-show="showLineup"class="list-group line-up">
            <li class="list-group-item" ng-repeat="lineup in upcoming_concert.performance">{{lineup.displayName}}</li>
            <p style='text-align:center;' ng-hide='upcoming_concert.performance.length'>There are no opening artists for this show.</p>
          </ul>
        </li>
      </ul>
    </div>
</div>
    
