<div class="reviewcontainer">
    <form class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label for="name">Username</label>
                <input id="name" type="text" placeholder="Username">
            </div>

            <div class="pure-control-group">
                <label for="ArtistName">Artist Name </label>
                <input id="ArtistName" type="ArtistName" placeholder="Artist Name">
            </div>

            <div class="pure-control-group">
                <label for="Venue">Venue </label>
                <input id="Venue" type="Venue" placeholder="Venue">
            </div>
     
            <textarea class="pure-input-1-10" placeholder="Textareas work too"></textarea>

                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>
</div>    