
  <div class='container'>
  <div class='signup'> 
    <form class="pure-form pure-form-stacked">
    <fieldset id='signup'>

      <label for="email">Email</label>
      <input id="email" type="email" placeholder="Email" ng-model="user.email">

      <label for="password">Password</label>
      <input id="password" type="password" placeholder="Password" ng-model="user.password">


      <button type="submit" class="pure-button pure-button-primary" ng-click='postreq()'>Console log BITCH
      </button>
    </fieldset>
  </form>
  </div>
  <div class="turntable">
    <img class="turntablepic" src='./img/turntable-512.png'>
  </div>



</div>