<form class="pure-form pure-form-stacked">
  <div class='container'>
  <div class='signup'> 
    <fieldset id='signup'>

        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Email">

        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Password">


        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
  </div>
  <div class="turntable">
    <img class="turntablepic" src='./img/turntable-512.png'>
  </div>



</div>