.boxed {
  border: 1px #FFFAFA ;
  position:relative;
  top:70px;
  width: 500px;
  height: 300px;
  text-align: center;
  border-radius: 25px;
  background: url('../img/armitage-concert-bw.jpg');
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: 1000px 400px ;
  /*bottom: -300px;*/
  

}

.pure-menu-horizontal{
  background-color:#AAAAAA;
}
h1 {
  font-family: 'Brush Script MT', cursive;
  font-size: 75px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px;
  color:white;
}

.pure-button{
  position: relative;
  float:right;

}