.nicetext {
  border: 1px #FFFAFA ;
  position:relative;
  top:70px;
  width: 500px;
  height: 300px;
  text-align: center;
  border-radius: 10px;
  background: url('../img/armitage-concert-bw.jpg');
  display: block;
  /*margin-left: auto;*/
  margin-right: auto;
  background-size: 1000px 400px ;
  margin-left:10%;
  

}

.boxedsignup{
  border: 1px #FFFAFA ;
  position:relative;
  top:70px;
  width: 500px;
  height: 300px;
  text-align: center;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: 1000px 400px ;
  /*bottom: -300px;*/
  

}

.pure-menu-horizontal{
  background-color:#AAAAAA;
}
h1 {
  font-family: 'Brush Script MT', cursive;
  font-size: 75px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 50px;
  color:white;

}

.pure-button.sign-up{
  position: relative;
  float:right;
}
.container{
  margin: 0 auto;
}
.signup{
  float:left;
  margin-top: 10%;
  margin-left: 16%;
}
.turntable{
  float:right;
  margin-top: 10%;
  margin-right: 16%;

}
.turntablepic{
  width:50%;
  height:50%;
  margin-left:40%;
}

.col-sm-6.reviews {
  padding: 0 !important;
  margin: 0 !important;
  line-height: 35px;
}

div.container.this{
  /*position:relative;*/
  margin-top:40px;
  right:50%;
  margin-left: 0px;
  margin-right: auto;
  left: 0;
  right: 0; 
}


.artistpageimage{
  border-radius: 25px;
  height:100%;
  width:100%;
  float:right;
}