hr {
    width:95%;
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.boxedsignup{
  border: 1px #FFFAFA ;
  position:relative;
  top:70px;
  width: 500px;
  height: 300px;
  text-align: center;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: 1000px 400px ;
}

.pure-menu-horizontal{
  background-color:#AAAAAA;
}

h1 {
  font-family: 'Brush Script MT', cursive;
  font-size: 75px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 50px;
  color:white;

}

.pure-button.sign-up{
  position: relative;
  float:right;
}
.container{
  margin: 0 auto;
}
.signup{
  float:left;
  margin-top: 10%;
  margin-left: 16%;
}
.turntable{
  float:right;
  margin-top: 10%;
  margin-right: 16%;

}
.turntablepic{
  width:50%;
  height:50%;
  margin-left:40%;
}

.col-sm-6.reviews {
  padding: 0 !important;
  margin: 0 !important;
  line-height: 35px;
}

div.container.this{
  /*position:relative;*/
  margin-top:40px;
  right:50%;
  margin-left: 15px;
  margin-right: auto;
  left: 0;
  right: 0; 
}

.artistpageimage{
  border-radius: 25px;
  height:100%;
  width:100%;
  float:right;
}

div.container.signin{
  margin-top:100px;
}

.reviewheader{
  margin-left: 25px;
  margin-bottom:-15px;
}

.reviewcontainer{
  position:relative;
  top:100px;
  left:50%;
}

.reviewicon {
  border:1px;
  background-color: gray;
  padding:10px;
  border-radius: 10px;
}


.divreviewimage{
  float: left;  
  margin-right:10px; 
}

.reviews{
  margin-left:25px;
  margin-right:25px;
}


.concertimage{
  margin-top:-200px;
}

.nicetext{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.fullhome{
  background-color: #FEF1D9;
  height: 100%;
  margin-top: -5%;
}

.navbar-custom {
  background-color:#2C384D;
  border-color: #E7E7E7;
}

.custom-search-form{
  margin-top:7.5px;
}
.bottom{
  margin-top:-5%;
}


.iconcontainer.first{
  display: inline-block;
  width:35%;
  height:50%;
  margin-left:15%;
}

.iconcontainer.second{
  display: inline-block;
  width:35%;
  height:50%;
  margin-right:15%;

}



.iconcontainer img {
  display: block;
  margin: 0 auto;
  text-align: center;
  height:100%;
  width:50%;
}

p.front{
  padding-right: 10%;
  padding-left: 20%;
  
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.col-lg-3{
  margin-left:35%;
}